<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>230027440415-dijs03lb7jn7eiefgohdtqlf67lkntd2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.230027440415-dijs03lb7jn7eiefgohdtqlf67lkntd2</string>
	<key>API_KEY</key>
	<string>AIzaSyAHVl1dw5-O-N3zlDqLDIOrxAl3IftK3z0</string>
	<key>GCM_SENDER_ID</key>
	<string>230027440415</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.armanmorshed.Chat-Application</string>
	<key>PROJECT_ID</key>
	<string>chat-application-10dac</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-application-10dac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:230027440415:ios:9cb7fb984155e9f4</string>
	<key>DATABASE_URL</key>
	<string>https://chat-application-10dac.firebaseio.com</string>
</dict>
</plist>